DATABASE_URL=путь к базе данных(postgresql)
SECRET_KEY=секретный ключ

APP_NAME="Название"
DEBUG=True
ACCESS_TOKEN_EXPIRE_MINUTES=Время жизни токена
ALGORITHM=HS256
ALLOWED_ORIGINS=список хостов


STRIPE_PUBLISHABLE_KEY= Stripe
STRIPE_SECRET_KEY= Stripe
STRIPE_WEBHOOK_SECRET= Stripe
STRIPE_ENDPOINT_SECRET= Stripe