DATABASE_URL=путь к базе данных(postgresql)
SECRET_KEY=секретный ключ

APP_NAME="Название"
DEBUG=True
ACCESS_TOKEN_EXPIRE_MINUTES=Время жизни токена
ALGORITHM=HS256
ALLOWED_ORIGINS=список хостов


STRIPE_PUBLISHABLE_KEY= Stripe
STRIPE_SECRET_KEY= Stripe
STRIPE_WEBHOOK_SECRET= Stripe
STRIPE_SUPPORTED_CURRENCIES=usd,eur,gbp,...

PORT= 8000 (по дефолту, должен соответствовать порту, на котором запускается приложение, относится к обработке вебхука stripe)

FRONTEND_URL=http://localhost:5173
REDIRECT_URL=http://localhost

EXPIRES_AT=10

CACHE_EXPIRE_MENU=60
CACHE_EXPIRE_SUBMENU=60
CACHE_EXPIRE_CATEGORY_TREE=300

REDIS_URL=redis://localhost:6379
CACHE_PREFIX=fastapi-cache
CACHE_DEFAULT_EXPIRE=60

YOOKASSA_SHOP_ID= ID  магазина
YOOKASSA_SECRET_KEY= секретный ключ yookassa