.user-box {
  position: fixed;
  top: 10px;
  right: 20px;

  background: white;
  padding: 12px 16px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.user-box h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.user-box button {
  padding: 12px;
  background: #99e4db !important;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.user-box button:hover {
  background: #5bb3a8 !important;
}
